[Unit]
Description=Scale Server
After=network.target

[Service]
Type=simple
User=scale
WorkingDirectory=/home/scale/scaleserver
ExecStart=/usr/local/bin/bundle exec puma ./scale.rb
Restart=always

[Install]
WantedBy=multi-user.target